@import "utils/libs";
@import "utils/vars";
@import "utils/smart-grid";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @include md(font-size, 16px);
  @include sm(font-size, 15px);
  @include xs(font-size, 14px);
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

section,
.section {
  position: relative;
  @include offsetY('margin', 80px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  position: relative;
  //@include wrapper-full();
  @include wrapper();
}


.items {
  @include row-flex();
  @include md(justify-content, center);
  margin-bottom: -30px;

  .item {
    @include col();
    @include size(3);
    @include size-lg(4);
    @include size-md(6);
    @include size-sm(12);
    margin-bottom: 30px;
  }
}


// Modules
@import "modules/typography";
@import "modules/header";
@import "modules/nav";
@import "modules/buttons";
@import "modules/fields";
@import "modules/checkbox-and-radio";
@import "modules/footer";