+b.FOOTER.footer 
    .container 


        +e.bottom 
            +e.bottom-top
                +e.A(href="index.html" class="logo")
                    img(src="assets/images/logo/logo.svg", alt="")

                +e.P.copyright Copyright © <span class="js-current-year"></span> Coindeks Investments, Inc.<br> Exodus was co-founded by Daniel Castagnoli and JP Richardson.

                +e.UL.bottom-links 
                    +e.LI
                        +e.A(href="policy.html") Privacy Policy
                    +e.LI
                        +e.A(href="terms.html") Terms of Service

            +b.typography 
                p Exodus is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange.
                p Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.