// ul li
.unordered-list {
  @extend .block-margins;

  li {
    position: relative;
    padding-left: 35px;
    margin-bottom: $base-vertical-margin * 0.5;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      width: 17px;
      height: 2px;
      display: block;
      background: $black-color;
      position: absolute;
      top: 0.75em;
      left: 0;
    }
  }
  &_primary {
    li {
      &:before {
        background: $primary-color !important;
      }
    }
  }
  &_light {
    li {
      color: rgba($black-color, 0.6);
      &:before {
        background: #e6ded3 !important;
      }
    }
  }
}

// ol li
.ordered-list {
  @extend .block-margins;
  counter-reset: myCounter;

  li {
    position: relative;
    list-style: none;
    padding-left: 30px;
    margin-bottom: $base-vertical-margin * 0.5;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      counter-increment: myCounter;
      color: $black-color;
      position: absolute;
      top: 0;
      left: 0;
      content: counter(myCounter) '. ';
    }
  }
}
