-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })
mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr
    
mixin icon(name)
  svg.svg-icon
    use(href=`assets/icons/sprite.svg#icon-${name}`)