extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';
block head
  

block content
    

block script
    script(src="assets/js/vendors.js")
    script(src="assets/js/mnp.js")