.color-primary {
  color: $primary-color;
}
.color-black {
  color: $black-color;
}
.color-white {
  color: $white-color;
}
.text-uppercase {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}
