// Fonts
$main-font: "Rubik", sans-serif;
$accent-font: "Manrope", sans-serif;
$main-font-color: #000;
$main-font-size: 16px;
$main-font-weight: 400;
$main-line-height: 1.25;


// Main color
$accent-color: #ffee87;
$gray-color: #efefef;
$default-color: #ffffff;
$primary-color: #e14135;
$success-color: #1ec16f;
$danger-color: #eb001b;
$warning-color: #ff5100;
$border-base: #dbdddc;

// Animations
$anim: cubic-bezier(0.58, 0.3, 0.005, 1);
$animSpeed: 0.4s;


// fields
$field-margin: 25px;
$field-border-width: 2px;
$field-border-color: $border-base;
$field-color-danger: $danger-color;
$field-radius: 0;
$field-height: 50px;
$field-bg: transparent;
