//
[data-accordion='content-container'] {
  height: 0;
  overflow: hidden;
  // transition: all 0.1s linear;
}

.accordion {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  $parent: &;

  &__trigger {
    display: block;
    position: relative;
    padding: rem(25px) 0;
    line-height: 1.3;
    font-size: rem(16px);
    text-decoration: none;
    color: $black-color;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    @include md-block() {
      padding: rem(30px) 0;
    }

    &:hover {
      color: $primary-color;

      & > span {
        text-decoration: underline;
      }
    }

    &.is-collapsed {
      border-color: transparent;
      color: $black-color;
      text-decoration: none;
      pointer-events: none;
    }
  }
}

// theme

.accordion {
  border: none;
  position: relative;
  $parent: &;

  &:last-child {
    border: none;
  }

  &__content {
    padding: rem(35px) rem(55px);
    overflow: hidden;
    margin-bottom: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: $accent-font;
    color: rgba($white-color, 0.5);
    @include sm-block() {
      padding: rem(35px) rem(15px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: rem(26px);
    line-height: 1.55;
    font-weight: 300;
    border: none;
    user-select: none;
    padding: 6px 15px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: $accent-font;
    border: solid 2px transparent;

    & > * {
      pointer-events: none;
    }

    &.is-collapsed {
      text-decoration: none;
    }
  }

  &__item {
    margin-bottom: 30px;
    transition: all 0.2s ease;

    &:last-child {
      margin-bottom: 0;
    }
    &.is-collapsed {
      .accordion__title {
        border-color: $white-color;
      }
    }
  }
}
