$radio-font-size: $base-font-size;
$radio-size: 17px;

@mixin checkActive() {
  &:after {
    opacity: 1;
  }
  &:before {
    background: $primary-color;
  }
}

@mixin check($size) {
  cursor: pointer;

  &:before {
    content: '';
    width: $size;
    height: $size;
    display: block;
    background: transparent;
    position: absolute;
    border: solid 1px $primary-color;
    left: 0;
    top: 1px;
  }

  &:after {
    content: '';
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0xIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJtMjEuNjUyLDMuMjExYy0wLjI5MywtMC4yOTUgLTAuNzcsLTAuMjk1IC0xLjA2MSwwbC0xMS4xODEsMTEuMTI5Yy0wLjI5MywwLjI5NyAtMC43NzEsMC4yOTcgLTEuMDYyLDBsLTQuODk5LC00Ljk4OWMtMC4xNDUsLTAuMTQ4IC0wLjMzNSwtMC4yMjEgLTAuNTI2LC0wLjIyMmMtMC4xOTMsLTAuMDAxIC0wLjM4OSwwLjA3MiAtMC41MzYsMC4yMjJsLTIuMTY1LDEuOTQ2Yy0wLjE0NCwwLjE0OCAtMC4yMjIsMC4zMzMgLTAuMjIyLDAuNTI2YzAsMC4xOTQgMC4wNzgsMC4zOTcgMC4yMjMsMC41NDRsNC45NCw1LjE4NGMwLjI5MiwwLjI5NiAwLjc3MSwwLjc3NiAxLjA2MiwxLjA3bDIuMTI0LDIuMTQxYzAuMjkyLDAuMjkzIDAuNzY5LDAuMjkzIDEuMDYyLDBsMTQuMzY2LC0xNC4zNGMwLjI5MywtMC4yOTQgMC4yOTMsLTAuNzc3IDAsLTEuMDcxbC0yLjEyNSwtMi4xNHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPgogPC9nPgo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: $size;
    height: $size;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    opacity: 0;
  }
}

.checkbox,
.radio {
  display: inline-flex !important;
  font-weight: normal;
  vertical-align: middle;
  text-transform: none;
  align-items: center;
  position: relative;
  padding-left: $radio-size + 15px;
  cursor: pointer;
  font-size: $radio-font-size;
  user-select: none;
  min-height: $radio-size;
  line-height: 1.3;
  text-align: left;
  color: #000;
  margin: 0 !important;

  a {
    text-decoration: underline;
    margin-left: 5px;

    &:hover {
      text-decoration: none;
    }
  }

  input {
    display: none;

    &:checked + span {
      @include checkActive();
    }
  }

  span {
    @include check($radio-size);
  }
}

.radio {
  &__subtext {
    font-size: 14px;
    color: rgba(#000, 0.5);
  }
  &__row {
    @include row-flex();
  }
  &__col {
    @include col();
    @include size(6);
    @include size-sm(12);
    @include sm-block() {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    flex-grow: 1;
    img {
      flex-shrink: 0;
    }
    &:before {
      border-radius: 50%;
    }

    &:after {
      background: $primary-color;
      border-radius: 50%;
      width: $radio-size - 8px;
      height: $radio-size - 8px;
      top: 9px;
      left: 4px;
    }
  }
}
