// Field
@mixin inputBase() {
  border: solid $field-border-width $field-border-color;
  height: $field-height;
  width: 100%;
  font-size: $field-font-size;
  border-radius: $field-radius;
  background: $field-background-color;
  padding-left: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  color: $field-color;
  transition: border-color 0.2s ease;
  font-family: $main-font;
  &::placeholder {
    color: rgba($accent-color, 0.5);
    font-weight: 500;
  }
  &:hover,
  &:focus {
    border-color: darken($field-border-color, 15%);
  }
}
@keyframes errorInput {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(6px);
  }
}
.field {
  input,
  select,
  textarea {
    @include inputBase();
  }

  & > textarea {
    min-height: $textarea-height;
    padding-top: 10px;
    overflow: hidden;
  }
  &--error {
    label {
      color: $danger-color;
    }
    input,
    select,
    textarea {
      border-color: $danger-color !important;
      will-change: transform;
      animation: errorInput 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
    }
  }
}

.field-label {
  line-height: 1.15;
  margin-bottom: rem(10px);
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
