// Field
@mixin inputBase() {
  border: solid 1px #b5b3bd;
  height: $field-height;
  width: 100%;
  font-size: $field-font-size;
  border-radius: $field-radius;
  background: #fff;
  padding-left: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  color: #413b57;
  transition: opacity 0.2s ease;
  font-family: $main-font;
  &::placeholder {
    color: rgba(#8a8895, 1);
    font-weight: 500;
  }
  &:hover,
  &:focus {
    border-color: darken(#b5b3bd, 15%);
  }
}
@keyframes errorInput {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(6px);
  }
}
.field {
  $parent: &;
  & > label:not(.select) {
    display: flex;
    align-items: flex-end;
    font-size: 17px;
    line-height: 1.15;
    margin-bottom: rem(10px);
    font-size: 16px;
    color: #413b57;
    font-weight: 700;
    height: 18px;
    sup {
      display: inline-block;
      vertical-align: top;
      font-size: 0.9em;
    }
  }

  input,
  textarea {
    @include inputBase();
  }

  & > textarea {
    min-height: $textarea-height;
    padding-top: 10px;
    overflow: hidden;
  }
  &--error {
    label {
      color: $danger-color;
    }
    input,
    textarea {
      border-color: $danger-color !important;
      will-change: transform;
      animation: errorInput 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
