$size: 90px;
$speed: 4s;

.loader {
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background: #fff;
 z-index: 99999;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 0.4s ease;

 img,
 svg {
  width: 40px;
 }

 &.hide {
  opacity: 0;
  visibility: hidden;
 }
}

$green: $success-color;
$blue: $primary-color;
$red: $danger-color;
$yellow: $warning-color;
$white: $gray-color;

// scaling... any units
$width: 100px;

.circular {
 animation: rotate 2s linear infinite;
 height: 100%;
 transform-origin: center center;
 width: 100%;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: auto;
}

.path {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
 stroke-linecap: round;
}

@keyframes rotate {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: -124px;
 }
}

@keyframes color {
 100%,
 0% {
  stroke: $blue;
 }

 40% {
  stroke: $yellow;
 }

 66% {
  stroke: $green;
 }

 80%,
 90% {
  stroke: $red;
 }
}

// demo-specific
body {
 background-color: $white;
}

.showbox {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 5%;
}
