// Моб меню
.mobile-menu {
  overflow: hidden;
  overflow-y: auto;
  padding: 30px 0 30px 0;
  background: linear-gradient(97deg, #17072b, #110522);
  position: fixed;
  top: 100px;
  height: calc(100% - 100px);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: none;

  &__top {
      display: none;
      flex-wrap: wrap;
      position: relative;
      top: initial;
      right: initial;
      left: initial;
      justify-content: center;
      padding: 0 15px;
      width: 100%;
      margin-bottom: 30px;
      & > * {
          margin: 5px;
      }
      @include sm-block() {
          display: flex;
      }
  }

  &__nav {
      margin-bottom: 15px;
      padding-bottom: 15px;
      & > ul {
          width: 100%;
          & > li {
              position: relative;
              & > a {
                  text-decoration: none;
                  padding: 15px;
                  display: block;
                  font-weight: 300;
                  font-size: 20px;
                  color: #fff;
                  text-align: center;
              }
              &.is-active {
                  a {
                      color: #777;
                  }
              }
              &.has-podmenu {
                  & > a {
                      position: relative;
                      pointer-events: none;
                      &:after {
                          transform: rotate(45deg) translateY(-50%);
                          transition: all 0.2s ease;
                          transform-origin: center;
                          border-color: #7970ab;
                          border-style: solid;
                          border-width: 0 1px 1px 0;
                          content: "";
                          display: inline-block;
                          height: 0;
                          padding: 3px;
                          position: relative;
                          vertical-align: 0.255em;
                          width: 0;
                          position: absolute;
                          top: 50%;
                          right: 15px;
                      }
                  }

                  &.is-open {
                      & > a {
                          &:after {
                              transform: rotate(226deg) translateY(-50%);
                          }
                      }
                  }
              }
              & > ul {
                  background: #221937;
                  padding: 30px 0;
                  display: none;
                  & > li {
                      margin: 0 0 10px 0;
                      &:last-child {
                          margin-bottom: 0;
                      }
                  }
                  a {
                      font-size: 14px;
                      text-align: center;
                      display: block;
                      padding: 5px;
                      text-decoration: none;
                      font-weight: 300;
                      color: #fff;
                  }
              }
          }
      }

      border-bottom: 1px solid rgba(#fff, 0.1);
      &:last-of-type {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
      }
  }
  .container {
      display: flex;
      flex-wrap: wrap;

      @include sm-block() {
          padding-left: 0;
          padding-right: 0;
      }
  }
  &.open {
      display: none;

      @include lg-block() {
          display: block;
      }
  }
}