// body
.btn {
    padding: 10px 20px;
    border: 1px solid $border-base;
    color: $neutral-primary;
    background-color: $default-color;
    font-size: $mainFontSize;
    cursor: pointer;
    display: inline-flex;
    vertical-align: top;
    text-decoration: none;

    &[disabled] {
        background: $border-base;
        cursor: not-allowed;
        opacity: 0.5;
    }

    // colors
    &--danger {
        background-color: $danger-color;
        border-color: $danger-color;
        color: $default-color;
    }

    &--success {
        background-color: $success-color;
        border-color: $success-color;
        color: $default-color;
    }

    &--primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $default-color;
    }

}