$speed: 0.15s;

.hamburger {
    .line {
        width: 30px;
        height: 2px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        transition: all $speed ease-in-out;
        cursor: pointer;
    }

    &.isActive {
        .line {
            &:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }
}