$notice-danger: $danger-color;
$notice-success: $success-color;

.notice {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-150px);
    color: #fff;
    text-align: center;
    font-size: rem(16px);
    padding: rem(15px);
    z-index: 99999;
    transition: all 0.3s linear;
    opacity: 0;
    letter-spacing: 0.9px;
    font-weight: 500;

    &--open {
        transform: none;
        opacity: 1;
    }

    &--green {
        background: $notice-success;
        box-shadow: 0 5px 10px rgba($notice-success, 0.2);
    }

    &--red {
        background: $notice-danger;
        box-shadow: 0 5px 10px rgba($notice-danger, 0.2);
    }
}