// Variables

$text-color: $border-base;
$quiet-color: $mainFontColor;
$loud-color: $mainFontColor;
$heading-color: $mainFontColor;

$link-color: $primary-color;
$link-hover-color: $primary-color;
$link-visited-color: $primary-color;

$base-font-family: $mainFont;
$base-font-size: 1em;
$base-font-weight: $mainFontWeight;
$base-line-height: $mainLineHeight;

$fixed-font-family: $mainFont;
$fixed-font-size: 1em;
$fixed-line-height: $mainLineHeight;

$heading-font-family: $mainFont;
$heading-font-weight: $mainFontWeight;

/*
 * Typography
 */

.link,
a {
  color: $link-color;
  text-decoration: underline;
  &:visited {
    color: $link-visited-color;
  }

  &:active {
    color: $link-color;
  }

  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

.fixed {
  font-family: $fixed-font-family;
  font-size: $fixed-font-size;
  line-height: $fixed-line-height;
}

.quiet {
  font-color: $quiet-color;
}

.loud {
  font-color: $loud-color;
}

.italic {
  font-style: italic;
}

.bold,
strong,
b {
  font-weight: 700;
  @extend .loud;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $heading-font-weight;
  font-family: $mainFont;
}

.h1 {
  line-height: 1.1;
}

.h2 {
  line-height: 1.3;
}

.h3,
.h4 {
  text-transform: uppercase;
  line-height: 1.3;
}

.h1 {
  font-size: 130%;
  font-weight: 700;
}

.h2 {
  font-size: 135%;
  font-weight: 700;
}

.h3 {
  font-size: 100%;
  font-weight: 600;
}

.h4 {
  font-size: 100%;
  font-weight: 500;
}

.block-margins {
  margin: 1.5em 0;
}

// ul li
.unordered-list {
  padding-left: 0;
  margin-bottom: 2em;

  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      width: 14px;
      height: 2px;
      display: block;
      background: $border-base;
      position: absolute;
      top: 0.5em;
      left: 0;
    }
  }
}

// ol li
.ordered-list {
  padding-left: 0;
  margin-bottom: 2em;
  counter-reset: myCounter;
  li {
    position: relative;
    list-style: none;
    margin-bottom: 15px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      counter-increment: myCounter;
      color: $primary-color;
      content: counter(myCounter) ". ";
    }
  }
}

.strong-list {
  font-weight: 700;
  margin-bottom: 2em;

  li {
    &:before {
      height: 2px !important;
      top: 0.55em !important;
    }
  }
}

// tables
@mixin tableStyle {
  table {
    width: 100%;

    td,
    th {
      font-weight: 400;
      border: solid 1px $border-base;
      padding: 10px;
      vertical-align: middle;
    }

    &.large {
      td {
        padding: 25px;
      }
    }
  }
}

@include tableStyle();

.typography {
  font-size: $base-font-size;
  line-height: $base-line-height;

  letter-spacing: normal;

  p {
    &:first-child {
      margin-top: 0;
    }
  }

  &__text {
    max-width: 1040px;
    margin: 0 auto;
    font-weight: 300;
  }

  &--center {
    text-align: center;
  }
  small {
    font-size: 0.8em;
  }

  big {
    font-size: 1.2em;
  }
  & > * {
    &:first-child {
      margin-top: 0;
    }
  }

  & > * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $mainFontColor;
  }

  a {
    @extend .link;
  }

  i,
  em {
    @extend .italic;
  }

  b,
  strong {
    @extend .bold;
  }

  h1,
  .h1 {
    @extend .h1;
    margin: 1em 0 0.5em;
  }

  h2,
  .h2 {
    @extend .h2;
    margin: 1em 0 0.5em;
  }

  h3,
  .h3 {
    @extend .h3;
    margin: 1em 0 0.5em;
  }

  h4,
  .h4 {
    @extend .h4;
    margin: 1em 0 0.5em;
  }

  h5,
  .h5 {
    @extend .h5;
    margin: 1em 0 0.5em;
  }

  h6,
  .h6 {
    @extend .h6;
    margin: 1em 0 0.5em;
  }

  p,
  ul,
  ol,
  pre {
    @extend .block-margins;
  }

  ul {
    @extend .unordered-list;
  }

  ol {
    @extend .ordered-list;
  }

  pre,
  code {
    @extend .fixed;
  }
}

/*
 * Modifiers
 */

.float-left {
  float: left;
  margin-right: 1em;
}

.float-right {
  float: right;
  margin-left: 1em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
