include ../bemto-master/bemto.pug

include ../utils/mixins

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title #{title}
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/app.css")
    block head

  body
  
    .loader
      img(src="assets/images/spinner.svg", alt="")

    main#app.wrapper
      // Main layout
      +b.main-layout

        include ../includes/modules/_header  
        +e.ARTICLE.content

          // Begin page
          block content
          // End page  

        include ../includes/modules/_footer

      // Mobile menu
      include ../includes/modules/_mobile-menu

      // Modals
      //-include ../includes/modals/calculator
    block script